body {
    margin: 0;
    min-height: 100vh;
    background: whitesmoke;
    padding-top: 50px;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

h2 {
    font-family: sans-serif;
}

.header-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
}

.paraghrap-header {
    text-align: center;
    width: 65%;
    color: grey;
}

.header-buttons {
    display: flex;
    gap: 15px;
}

.ios-button, .mac-button {
    color: white;
    padding-bottom: 8px;
    padding-top: 8px;
    padding-left: 16px;
    padding-right: 16px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border: none;
    cursor: pointer;
}

.ios-button {
    background-color: aqua;
}

.mac-button {
    background-color: blueviolet; 
}

.description-page {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.description-text {
    padding-left: 650px;
    padding-right: 650px;
    text-align: center;
    color: gray;
}

.main-functionalities {
    display: flex;
    gap: 100px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.functionalities {
    padding-top: 50px;
    padding-right: 700px;
    
}

.functionalities-text {
    color: gray;
    text-align: left;
}

.functionalities-paraghrap {
    margin-bottom: 80px;
}

.clipboard-funtionality {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 670px;
    padding-right: 670px;
    margin-bottom: 100px;
}

.clipboard-text {
    text-align: center;
}

.image-supported-devices {
    display: flex;
    justify-content: center;
}

.extra-funtionalities {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.items-extra-funtionalities {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    align-items: center;
    gap: 100px;
}

.card-extra-funtionality {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 300px;
}

.text-extra-funtionalities {
    color: gray;
    text-align: center;
}

.information-extra-funtionality, .title-extra-funtionality {
    text-align: center;
}

.information-extra-funtionality {
    color: gray;
}

.logos-sponsoring-companies {
    margin-top: 100px;
    padding-right: 320px;
    padding-left: 320px;
}

.items-logos {
    display: flex;
    justify-content: space-evenly;
}

footer {
    display: flex;
    justify-content: space-between;
    padding-left: 200px;
    padding-right: 200px;
    background-color: azure;
    padding-bottom: 20px;
    padding-top: 20px;
}

.logo-footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-image-footer {
    width: 50px;
    height: 50px;
}

.about-us {
    display: flex;
    gap: 100px;
}

.about-us-links {
    display: flex;
    flex-grow: 0;
}

.about-us-items {
    display: flex;
    flex-flow: row wrap;

    max-width: 300px;
    gap: 20px;
}

.social-networks {
    display: flex;
    flex-grow: 0;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: grey;
}